.navbar {
    display: flex;
    align-items: center; 
    padding: 1rem;
    background-color: #333;
    color: white;
}

.navbarLogo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.navbarLinks {
    margin-left: 10px;
}

.navbarLinks a {
    color: white;
    text-decoration: none;
    margin: 0 10px; 
}

.navbarLinks a:hover {
    text-decoration: underline;
}

.space {
    display: flex;
    justify-content: space-between; /* Space items evenly in the space */
}

// .itemLeft {
//     margin-right: auto; /* Pushes this item to the left */
// }

// .itemRight {
//     margin-left: auto; /* Pushes this item to the right */
// }
